---
import { getActiveItemsCount } from "../data/todos";

const itemsLeft = getActiveItemsCount();
---

<span id="todo-count" class="todo-count">
  <strong>{itemsLeft}</strong> item{itemsLeft === 1 ? "" : "s"} left
</span>
